.a1 {
  font-family: "Times New Roman";
}
.a2 {
  font-family: Arial;
}
.a3 {
  font-family: Georgia;
}
.a4 {
  font-family: Verdana;
}
.a5 {
  font-family: "Trebuchet MS";
}
.a6 {
  font-family: Impact;
}
.a7 {
  font-family: "Arial Black";
}
.a8 {
  font-family: "Comic Sans MS";
}
.a9 {
  font-family: "Courier New";
}