#block h1, #block h2 {
  text-align: center;
  font-size: 30px;
}
#block h1.eee, #block h2.zzz {
  color: red;
  font-family: Impact;
}
.xxx .kkk, .eee h2.zzz, #eee h2 {
  text-align: center;
  color: blue;
}
