.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.menu a {
  font: 16px Arial;
  color: white;
  padding: 15px 40px;
  margin: 10px;
  background-color: #16A177;
  text-decoration: none;
  border: 1px solid #16A177;
  box-sizing: border-box;
}
a:hover {
  background-color: white;
  color: #16A177;
}
.menu:nth-of-type(2){
  flex-direction: column;
}
.menu:nth-of-type(2) a {
  width: 300px;
}
.menu:nth-of-type(3) a{
  margin: 0;
}
.menu:nth-of-type(3) a:hover {
  color: white;
  background-color: #16785C;
}