/*Выберем все элементы на странице*/
* {
	font: 20px Arial;
}
/*Выберем все элементы находящиеся внутри тега div*/
div * {
	text-align: center;
}
/*Выберем все элементы находящиеся непосредственно внутри тега div*/
div > * {
	font-weight: bold;
}
/*Выберем все элементы p находящиеся в любых тегах, которые находятся внутри тегов main*/
main * p {
  color: blue;
}