.eee i {
  color: red;
}
.block h2.header {
  font: 30px Arial;
  color: green;
}
.block h3.header {
  font: 40px Verdana;
  color: blue;
}
.eee .bbb {
  color: red;
}
.eee h2 {
  color: red;
}
.eee h2.bbb {
  color: blue;
}
.eee h3.bbb {
  color: chocolate;
}
.eee p.bbb {
  font: 20px Arial;
  color: blueviolet;
}
.eee .bbb .kkk {
  font: 25px Impact;
  color: rgb(148, 189, 0);
}