h2 {
  width: 800px;
  font: 20px/3 Arial;
}
.parent {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}
.child {
  float: right;
  text-align: center;
  margin: 20px 0px 10px 20px;
  border: 1px solid green;
  width: 100px;
  height: 70px;
}
.clearfix {
  clear: both;
}
.parent:nth-of-type(4) {
  width: 900px;
}
